/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --bg-img-path: url("../images/cover-image-dark.png");
  --bg-color: #000028;
  --accent-color: #ff0070;
  --accent-shadow-color: #ff0070;
  --decorative-corner-color: #ff0070;
  --nav-text-color: #ff0070;
  --nav-hover-color: #ff007066;
  --main-header-color: #db00ff;
  --section-header-color: #ff0070;
  --header-text-color: #000028;
  --text-color: #f1b2ce;
}

.theme-dark .header__the-inscription-in-the-right-corner {
  display: flex;
}