/* Основные стили проекта. Это стили для темы, которую вы верстаете первой.
Сохраните в разметке и стилях класс page у тега body. 
Он удобен, чтобы составлять селекторы для разных цветовых тем. */

.page {
  position: relative;
  font-family: var(--font);
  font-size: var(--font-size);
  line-height: var(--line-height);
  background-color: var(--bg-color);
  background-image: var(--bg-img-path);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.header {
  display: grid;
  position: relative;
  padding: var(--block-padding);
  grid-template-rows: 1fr min-content 1fr;
  min-height: 668px;
  height: 100vh;
}

.decorated-zone::before {
  position: absolute;
  content: "";
  width: 25px;
  height: 25px;
  bottom: var(--indentation-of-the-decorative-corner);
  left: var(--indentation-of-the-decorative-corner);
  border-bottom: 1px solid var(--decorative-corner-color);
  border-left: 1px solid var(--decorative-corner-color);
}

.decorated-zone::after {
  position: absolute;
  content: "";
  width: 25px;
  height: 25px;
  top: var(--indentation-of-the-decorative-corner);
  right: var(--indentation-of-the-decorative-corner);
  border-top: 1px solid var(--decorative-corner-color);
  border-right: 1px solid var(--decorative-corner-color);
}

.header__the-inscription-in-the-right-corner {
  position: absolute;
  right: calc(var(--indentation-of-the-decorative-corner) + 30px);
  top: calc(var(--indentation-of-the-decorative-corner) + 0px);
  font-weight: var(--font-weight);
  color: var(--accent-color);
}

.header__the-inscription-in-the-right-corner::after {
  position: absolute;
  content: "";
  top: calc(var(--indentation-of-the-decorative-corner) - 1px);
  left: calc(var(--indentation-of-the-decorative-corner) + 34px);
  width: 9px;
  height: 9px;
  background-color: var(--accent-color);
  border-radius: 9px;
  box-shadow: 0px 0px 4px 2px var(--accent-color);
}

.header__theme-menu {
  justify-items: end;
  align-self: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 10px;
}

.header__theme-menu-item {
  text-align: center;
}

.header__theme-menu-button {
  background-color: transparent;
  min-width: 70px;
  color: var(--nav-text-color);
  text-transform: lowercase;
  border: none;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  border-width: 1px;
  border-style: solid;
  border-color: var(--nav-hover-color);
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  border-bottom: 1px;
  border-style: solid;
  border-color: var(--nav-text-color);
}

.header__theme-menu-button_active {
  border-width: 1px;
  border-style: solid;
  border-color: var(--nav-text-color);
  pointer-events: none;
}

.main__heading {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
  font-weight: calc(var(--font-weight) + 300);
  color: var(--main-header-color);
  text-transform: lowercase;
}

.main-text-shadow {
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header__description {
  display: grid;
  justify-self: end;
  align-self: center;
  font-weight: calc(var(--font-weight) + 300);
  color: var(--header-text-color);
}

.title-decor {
  background-color: var(--accent-color);
}

.main {
  display: grid;
  margin: var(--main-block-margin);
  padding: var(--main-block-padding);
  gap: var(--main-block-gap);
}

.main__standart-link {
  text-decoration: none;
  text-underline-offset: 4px;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.main__standart-link:hover {
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.main__standart-link:focus-visible {
  outline: none;
  outline-style: solid;
  outline-width: 1px;
}

.main__section-header {
  font-size: inherit;
  font-weight: calc(var(--font-weight) + 300);
  color: var(--section-header-color);
  margin-block-end: 20px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.main__paragraph-header {
  width: 100%;
  font-size: inherit;
  font-weight: calc(var(--font-weight) + 300);
  color: var(--header-text-color);
  margin-block-end: 10px;
}

.title-accent {
  font-weight: var(--font-weight);
}

.main__paragraph-text {
  font-weight: var(--font-weight);
  color: var(--text-color);
}

.header-margin {
  margin-block-end: 20px;
}

.gallery .list {
  gap: 10px;
}

.gallery .main__paragraph-header {
  margin-block-end: 10px;
}

.pic-size-and-positioning {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.footer {
  display: grid;
  position: relative;
  justify-items: center;
  align-content: center;
  min-height: 668px;
  height: 100vh;
}

.footer__shadow {
  text-shadow: 2px 2px 0 var(--accent-shadow-color);
}

@media (width >= 768px) {
  .header > .main__heading {
    margin-left: -20px;
  }

  .main__section-header {
    margin-block-end: 0px;
  }

  .header {
    padding: calc(var(--block-padding) + 10px);
  }

  .main__heading {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__description {
    inline-size: 50%;
  }

  .decorated-zone::before {
    bottom: calc(var(--indentation-of-the-decorative-corner) + 10px);
    left: calc(var(--indentation-of-the-decorative-corner) + 10px);
  }

  .decorated-zone::after {
    top: calc(var(--indentation-of-the-decorative-corner) + 10px);
    right: calc(var(--indentation-of-the-decorative-corner) + 10px);
  }

  .header__the-inscription-in-the-right-corner {
    right: calc(var(--indentation-of-the-decorative-corner) + 40px);
    top: calc(var(--indentation-of-the-decorative-corner) + 10px);
  }

  .section {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }

  .paragraph-list-grid {
    grid-column: 1 / -1;
  }

  .gallery .main__paragraph-header {
    margin-block-end: 20px;
  }

  .gallery {
    grid-column: 1 / -1;
  }

  .gallery .list {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 20px;
  }

  .gallery .item:nth-child(1) {
    grid-column: span 2;
  }

  .gallery .item:nth-child(2) {
    grid-row: span 2;
  }

  .gallery .item:nth-child(3) {
    grid-row: span 2;
  }

  .gallery .item:nth-child(5) {
    grid-column: span 2;
  }
}

@media (width >= 1024px) {
  .header__theme-menu {
    align-self: start;
    justify-self: center;
  }

  .header__theme-menu-list {
    flex-direction: row;
    align-items: start;
  }

  .section {
    gap: 20px 10px;
  }

  .paragraph-list-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}