/* Переменные для вашего проекта и их переопределение под различные устройства */

:root {
--accent-color: #FF0070;
--bg-img-path: url("../images/cover-image-dark.png");
--block-padding: 10px;
--font: 'IBM Plex Mono', sans-serif;
--font-size: 18px;
--font-weight: 400;
--line-height: 25px;
--indentation-of-the-decorative-corner: 10px;
--decorative-corner-color: #FF0070;
--nav-text-color: #FF0070;
--nav-hover-color: #FF007066;
--main-header-color: #DB00FF;
--section-header-color: #FF0070; 
--header-text-color: #000028;
--text-color: #F1B2CE;
--main-block-margin: 30px 0;
--main-block-padding: 10px;
--main-block-gap: 50px;
}
